
.weather-component{
    min-height:100vh;
    width:100%;
    text-align: center;
    color:white;
}
.title{
    font-size:1.2rem;
}
.first-page{
    height:70vh;
    position:relative;
    justify-content: center;
    font-size:90px;
    /* font-weight: bold; */
}
.temp{
    /* font-family: var(--secondary-font); */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.temp span{
    font-size:20px;
    position:absolute;
    top:1rem;
    display:block;
    left:100%;
    width:50px;
}
.temp div{
    font-size:20px;
}
.temp img{
    position:absolute;
    bottom:80%;
}
.description{
    /* font-size:1.3rem; */
    /* text-align: left; */
}
.description img{
    margin-top:10px;
    height:30px;
    
    
}
.forecast-btn-place{
    padding-top:20px;
    display:flex;
    justify-content: center;
}
.weekly-forecast-btn{
    width:300px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:40px;
    background:#00000040;
    margin:0;
    cursor: pointer;
    
}