*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&display=swap');
:root{
    --primary-font:'Verdana';
    --secondary-font:'Big Shoulders Text';
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #63b6db; /* Old browsers */
background: -moz-linear-gradient(left,  #63b6db 0%, #309dcf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #63b6db 0%,#309dcf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48b6e9 0%,#249dd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=1 ); /* IE6-9 */
color:white;
}
::-webkit-scrollbar{
    width: 0;
}
    
/* app-weather{
    height: 100vh;
    overflow: scroll;
} */
app-root{
    display:grid;
    grid-template-columns: 4fr 5fr 4fr;
}

app-cities{
    padding:10px;
    text-align: center;
    height: 100vh;
    overflow:scroll;
}
@media (max-width:768px){
   app-root{
       grid-template-columns: 1fr;
       overflow:scroll;
       flex-wrap: wrap;
   }
   app-cities{
       height:auto;
   }
   app-weather{
       height: auto;
   }
   
}
app-weather-detail{
    padding:10px;
    text-align: center;
}
/* 
h1,h2,h3,h4,h5{
    font-family: var(--secondary-font);
} */